* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  /* this is make  our fonts runs in perfect way */
}
/* reuseable  */
.row {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
section {
  padding: 80px 0;
}
/* HEADINGS */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
/* ----------------------------- */

/* HEADER */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/hero.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  padding: 10px 30px;
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid #ee5a24;
  margin-right: 20px;
  text-transform: capitalize;
  transition: all 0.4s;
}
.btn:hover {
  background-color: rgb(240, 70, 8);
  border: 1px solid #fff;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ee5a24;
  color: #fff;
}
.btn-ghost {
  color: #ee5a24;
}
.btn-ghost:hover {
  color: #fff;
}

h1 {
  font-size: 3.8rem;
  color: #fff;
  word-spacing: 4px;
  margin: 0 0 20px 0;
  letter-spacing: 1px;
}

/* -------------------- */

/*  */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: absolute;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: #ee5a24;
  border-radius: 50%;
  margin-left: 100px;
}
.main-nav {
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-right: 5%;
}
.main-nav li a {
  color: #fff;
  padding: 10px 20px;
  font-size: 1.6rem;
  text-transform: capitalize;
  border-bottom: 3px solid transparent;
  transition: all 0.4s;
}
.main-nav li a:hover {
  border-bottom: 3px solid #ee5a24;
}
/* ------------------------- */

/* FEATURES */

.features > .row > p {
  font-size: 1.6rem;
  width: 70%;
  margin-left: 15%;
  line-height: 1.5;
  margin-bottom: 20px;
}
h2 {
  font-size: 2.8rem;
  text-align: center;
  word-spacing: 2px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: #ee5a24;
  content: "";
  width: 200px;
  margin: 30px auto;
}

.box {
  padding: 2%;
}
h3 {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.features > .row > .box > p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.icon-feature {
  font-size: 4rem;
  color: #ee5a24;
  display: block;
  margin-bottom: 10px;
}

/* MEALS */

.meals {
  padding: 0;
}
.meals-images {
  width: 100%;
  display: flex;
  height: 360px;
}
.meals-images li {
  width: 25%;
  margin: 0;
  overflow: hidden;
  background: #000;
}
.meals-images li figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
.meals-images li figure img {
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: all 0.4s;
  opacity: 0.6;
}
.meals-images li figure img:hover {
  transform: scale(1);
  z-index: 2;
  opacity: 1;
}

/* -------------------------- */
/* HOW IT WORKS */

.apps-section {
  background-color: rgb(255, 250, 250);
}
.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.steps .img {
  margin-right: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step {
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.step div {
  display: flex;
  margin-top: 12px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.step div p {
  font-size: 1.8rem;
}
.step span {
  font-size: 1.4rem;
  color: #ee5a24;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ee5a24;
}

.btn-store {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}
.btn-store > a {
  width: 50%;
}
.btn-store > a img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

/* ---------------------------- */
/* LOCATIONS */

.box img {
  width: 100%;
  height: 300px;
  border-radius: 2%;
  margin-bottom: 3%;
}

.city {
  margin-top: 5%;
  font-size: 2rem;
}
.icon-city {
  margin-right: 3%;
  display: inline-block;
  text-align: center;
  width: 30px;
  color: #ee5a24;
}

.city a {
  color: #ee5a24;
  padding: 2px;
  border-bottom: 1px solid #ee5a24;
  transition: all 0.2s;
}
.city a:hover {
  color: #555;
  border-bottom: 1px solid #555;
}

/* ---------------------------- */
/* CUSTOMERS */
.customers-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/customers.jpg");
  background-attachment: fixed;
  color: #fff;
}
.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
blockquote {
  padding: 2%;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  font-size: 2rem;
}

blockquote:before {
  display: block;
  content: ",,";
  font-size: 2rem;
  width: 20px;
}
blockquote:after {
  display: block;
  content: ",,";
  font-size: 2rem;
  width: 20px;
  float: right;
}
cite {
  font-size: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
}
cite img {
  height: 100px;
  border-radius: 50%;
  margin-right: 2%;
}

/* PLANS */

.plans-section {
  background-color: rgb(255, 250, 250);
}
.plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.plan {
  width: 33%;
  padding: 2%;
  height: 100%;
}
.sub_plan {
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  box-shadow: 0px 2px 3px rgb(202, 199, 199);
  border-radius: 5px;
  height: 100%;
}
.sub_plan div {
  padding: 25px;
  border-bottom: 1px solid #ee5a24;
  margin-top: 20px;
}
.sub_plan div span {
  font-size: 3rem;
  margin-right: 10px;
}

.sub_plan div ul li {
  margin-top: 5px;
}
.sub_plan div:last-child {
  border-bottom: 1px solid transparent;
}
.sub_plan div:first-child h3 {
  margin-bottom: 10px;
}
.sub_plan div:first-child p {
  color: #ee5a24;
}
.sub_plan div:last-child a {
  width: 100%;
  text-align: center;
}

/* ------------------------ */
/* FORM */

form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
form div {
  width: 80%;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}
form > div > label {
  width: 30%;
}
#name,
#email {
  width: 60%;
  margin-left: 10%;
  padding: 5px;
  font-size: 1.4rem;
}
form > div > h3 {
  text-transform: none;
  font-size: 2rem;
  margin-bottom: 20px;
}
select {
  font-size: 1.2rem;
}
.textarea {
  width: 100%;
}
textarea {
  padding: 30px 40px;
  font-size: 1.2rem;
  font-style: italic;
  width: 60%;
}

footer {
  background: #333;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-size: 2rem;
  color: rgb(151, 142, 142);
}
footer div {
  margin-top: 40px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer div ul {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer div ul a {
  color: rgb(151, 142, 142);
  font-size: 1.6rem;
  transition: all 0.2s;
}
.footer div ul a:hover {
  color: #ee5a24;
}
.nav-footer {
  width: 50%;
}
.social-media {
  width: 50%;
}
.social-media i {
  font-size: 2rem;
}
